body{
  width: 100%;
}
label{
  display: block;
  margin: 0.5rem 0;
}
h1,p{
  margin:1rem auto;
  text-align: center;
}

input,select,textarea{
  width:100%;
}
.inline{
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}